/* publier.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #3498db;
    color: white;
    text-align: center;
    padding: 20px 0;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
}
.publication-item {
    /* ... (autres styles) ... */
    border-bottom: 1px solid black; /* Ajoute une bordure noire en bas de chaque publication */
    padding-bottom: 10px; /* Ajoute un espace sous chaque publication */
    margin-bottom: 10px; /* Ajoute un espacement entre les publications */
}

.publication-list {
    width: 60%;
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    overflow-y: scroll; /* Ajout de la barre de défilement verticale */
    max-height: 500px; 
}

.publication-form {
    width: 35%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

input[type="text"],
textarea {
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 15px;
    font-size: 16px;
    box-sizing: border-box;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}


input[type="submit"] {
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.input-error {
    border-color: #e74c3c;
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: #3498db;
    color: white;
}

a {
    color: #3498db;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.logout-button {
    float: right;
    background-color: #e74c3c;
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.logout-button:hover {
    background-color: #c0392b;
}


